# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log

# Models (IMPORTANT: avoid pushing large model files)
member_modules/thisara-disease/model/*
member_modules/*/model/*
